<!doctype html>
<html>
  <head>
    <title>Docker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body> 
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="card text-center">
          <div class="card-header">
            <h1 class="display-3">Victor Frankenstein</h1>
            <p class="lead">Victor learns that his interest in alchemy is useless and that such a field is outdated. Instead, science and natural philosophy are the accepted forms of thought.</p>
          </div>
        
          <div class="card-footer">
            <img src="{{ url_for('static',filename='itisalive.gif') }}">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
